.root {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (max-width: 1920px) {
        gap: 16px;
    }
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}